<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Utilities.Properties.Settings.EmpSignDBConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\Dev\SPS_Projects\EmployeesMangment\EmployeesMangment\ESM\EmpSignDB.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>